In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv(r'C:\Users\Kerry\1000_ml_jobs_us.csv')
print(df.head())
df.shape

   Unnamed: 0 job_posted_date company_address_locality company_address_region  \
0           0      2024-10-31             Indianapolis                Indiana
1           1      2025-03-14            San Francisco             California
2           2      2025-04-09                 San Jose                     CA
3           3      2025-03-22            Mountain View             California
4           4      2025-03-28                   Boston          Massachusetts

  company_name             company_website  \
0   Upper Hand       https://upperhand.com
1       Ikigai   https://www.ikigailabs.io
2        Adobe        http://www.adobe.com
3        Waymo  https://waymo.com/careers/
4          HMH        http://www.hmhco.com

                                 company_description  \
0  Upper Hand is the leading provider of full-sui...
1  Built upon years of MIT research, Ikigai is a ...
2  Adobe is the global leader in digital media an...
3  On the journey to be the world's most trusted ...
4  We are an adaptive learning company that empow...

                                job_description_text   seniority_level  \
0  OverviewUpper Hand is embarking on an exciting...        Internship
1  Company DescriptionThe Ikigai platform unlocks...  Mid-Senior level
2  Our CompanyChanging the world through digital ...       Entry level
3  Waymo is an autonomous driving technology comp...       Entry level
4  Job Title: Machine Learning EngineerLocation: ...  Mid-Senior level

                                           job_title
0  Internship - Machine Learning Engineer & Data ...
1                          Machine Learning Engineer
2                          Machine Learning Engineer
3                Machine Learning Engineer, Training
4                          Machine Learning Engineer

(997, 10)

In [2]:
df.duplicated().sum()

0

In [3]:
df.isnull().sum()

Unnamed: 0                    0
job_posted_date               0
company_address_locality     47
company_address_region      113
company_name                  0
company_website              14
company_description          12
job_description_text          1
seniority_level               9
job_title                     0
dtype: int64

In [4]:
df.describe()

       Unnamed: 0
count  997.000000
mean   498.000000
std    287.953411
min      0.000000
25%    249.000000
50%    498.000000
75%    747.000000
max    996.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                997 non-null    int64
 1   job_posted_date           997 non-null    object
 2   company_address_locality  950 non-null    object
 3   company_address_region    884 non-null    object
 4   company_name              997 non-null    object
 5   company_website           983 non-null    object
 6   company_description       985 non-null    object
 7   job_description_text      996 non-null    object
 8   seniority_level           988 non-null    object
 9   job_title                 997 non-null    object
dtypes: int64(1), object(9)
memory usage: 78.0+ KB

In [6]:
df.columns

Index(['Unnamed: 0', 'job_posted_date', 'company_address_locality',
       'company_address_region', 'company_name', 'company_website',
       'company_description', 'job_description_text', 'seniority_level',
       'job_title'],
      dtype='object')